/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    width: 720px;
}

img {
    width: 100px;
    border-radius: 50%;
    justify-content: space-between;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: whitesmoke;
    background-color: #1D3557;
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 32px;
}

h2 {
    width: 412px;
    font-family: 'Arial', sans-serif;
    color: whitesmoke;
    margin-top: 0;
    background-color: #457B9D;
    padding: 2px 18px;
    border-radius: 10px;
    font-size: 18px;
}

h3 {
    font-family: 'Arial', sans-serif;
    color: #1D3557;
    margin-bottom: 5px;
}

.hero {
    background-image: url(../images/torshov.jpg);
    background-size: cover;
    height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities {
    font-family: 'Arial', sans-serif;
    color: #1D3557;
    background-color: rgba(241, 250, 238, 1);
    margin: 0;
    font-size: 20px;
    padding: 40px;
}

.guide {
    font-family: 'Arial', sans-serif;
    color: #1D3557;
    background-color: rgba(168, 218, 220, 0.6);
    margin: 0;
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    display: inline-flex;
    justify-content: center;
}

.profile-pic {
    width: 120px;
    border-radius: 10px;
    margin-top: 10px;
}