/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
    border-radius: 50%;
    justify-content: space-between;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: whitesmoke;
    background-color: #1D3557;
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 32px;
}

h2 {
    width: 412px;
    font-family: 'Arial', sans-serif;
    color: whitesmoke;
    margin-top: 0;
    background-color: #457B9D;
    padding: 2px 18px;
    border-radius: 10px;
    font-size: 18px;
}

.hero {
    background-image: url(../images/torshov.jpg);
    background-size: cover;
    height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

